@use '../abstracts/mixins' as m;
@use '../abstracts/breakpoints' as b;
@use '../abstracts/variables' as v;

.search {
  @include m.flex-between;
  gap: 0.5rem;
  box-shadow: var(--shadow-md);
  border-radius: 0.25rem;
  background-color: var(--bg-tertiary);
  height: 2.5rem;
  padding-inline: 1rem;
  width: 80%;

  &__input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--cl-muted);
  }
}