/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v22-latin/poppins-v22-latin-regular.woff2') format('woff2');
}
/* poppins-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v22-latin/poppins-v22-latin-600.woff2') format('woff2');
}
/* poppins-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v22-latin/poppins-v22-latin-700.woff2') format('woff2');
}

/* raleway-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v34-latin/raleway-v34-latin-regular.woff2') format('woff2');
}
/* raleway-500 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/raleway-v34-latin/raleway-v34-latin-500.woff2') format('woff2');
}
/* raleway-600 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/raleway-v34-latin/raleway-v34-latin-600.woff2') format('woff2');
}

/* source-code-pro-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-code-pro-v23-latin/source-code-pro-v23-latin-regular.woff2') format('woff2');
}
/* source-code-pro-500 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/source-code-pro-v23-latin/source-code-pro-v23-latin-500.woff2') format('woff2');
}

/* source-sans-3-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-sans-3-v15-latin/source-sans-3-v15-latin-regular.woff2') format('woff2');
}
/* source-sans-3-600 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/source-sans-3-v15-latin/source-sans-3-v15-latin-600.woff2') format('woff2');
}