<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<meta name="description" content="{{ .Params.description | default .Description | default site.Params.description }}">
<link rel="canonical" href="{{ .Permalink }}">
<meta name="robots" content="index, follow">
<meta name="author" content="{{ site.Params.author }}">
<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ else }}{{ $.Site.Params.Keywords }}{{ end }}">
<link rel="alternate" hreflang="{{ site.Language.Lang }}" href="{{ .Permalink }}" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Params.description | default .Description | default site.Params.description }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ .Params.image | absURL }}">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Params.description | default .Description | default site.Params.description }}">
<meta name="twitter:image" content="{{ .Params.image | absURL }}">
<meta name="twitter:site" content="{{ site.Params.twitter }}"/>

<link rel="icon" href="{{ "favicons/favicon.ico" | absURL }}" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "favicons/apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicons/favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicons/favicon-16x16.png" | absURL }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ "favicons/android-chrome-192x192.png" | absURL }}">
<link rel="icon" type="image/png" sizes="512x512" href="{{ "favicons/android-chrome-512x512.png" | absURL }}">
<link rel="manifest" href="{{ "manifest.json" | absURL }}">

<link rel="sitemap" type="application/xml" href="{{ "sitemap.xml" | absURL }}" />
{{ with .OutputFormats.Get "rss" }}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ "index.xml" | relURL }}">

{{ template "_internal/google_analytics.html" . }}
{{ partial "head/css.html" . }}
{{ partial "head/js.html" . }}