{{- define "collapsible_nav" -}}
  {{- if .Pages -}}

    <!-- === Iterasi Folder Dulu === -->
    {{- range .Pages -}}
      {{- if .IsSection -}}
        <li class="nav__item nav__item--folder" data-id="{{- .RelPermalink | urlize -}}">
          <button class="btn btn--nav btn--collapse">
            <i class="bi bi-folder2"></i>
            <span>{{- .LinkTitle -}}</span>
          </button>
          <ul class="nav__list nav__list--collapse">
            {{- template "collapsible_nav" . -}}
          </ul>
        </li>
      {{- end -}}
    {{- end -}}

    <!-- === Iterasi File Setelahnya === -->
    {{- range .Pages -}}
      {{- if .IsPage -}}
        {{- if ne .File.BaseFileName "search" -}}
          <li class="nav__item nav__item--file" data-id="{{- .RelPermalink | urlize -}}">
            <a class="nav__link" href="{{- .RelPermalink -}}">
              <i class="bi bi-file-earmark"></i>
              <span>{{- .LinkTitle -}}</span>
            </a>
          </li>
        {{- end -}}
      {{- end -}}
    {{- end -}}

  {{- end -}}
{{- end -}}
