{{/* =============== START: SIDEBAR LEFT =============== */}}
<header class="u-container sidebar__header">
  
  <div class="sidebar__wrapper">
    <a href="{{ site.BaseURL | relLangURL }}" class="brand">
      {{ site.Title }}
    </a>

    <button class="btn btn--icon" data-toggle-sidebar="sidebarLeft" aria-label="{{ i18n "btn_sidebar_left" }}" title="{{ i18n "btn_sidebar_left" }}">
      <i class="bi bi-chevron-double-left"></i>
    </button>
  </div>

  {{/* |===========| START: FORM SEARCH |===========| */}}
  <div class="sidebar__wrapper">
    <form 
  
      class="search" 
      id="search" 
      onsubmit="handleSearch(event)" 
      method="get" 
      id="search" 
      data-search-url="{{ "search.json" | relURL }}"
  
    >
      <i class="bi bi-search"></i>
      <input 
      
        class="search__input" 
        type="search" 
        id="search-input" 
        name="query" 
        placeholder="{{ i18n "search" }}" 
        autocomplete="off" 
        autocorrect="off" 
        spellcheck="false" 
  
      >
    </form>

    <button class="btn btn--icon" id="toggle-all-collapse" aria-label="{{ i18n "directory" }}">
      <i class="bi bi-folder2"></i>
    </button>

  </div>
  {{/* |===========| END: FORM SEARCH |===========| */}}
</header>

{{/* |===========| START: SEARCH RESULTS |===========| */}}
<nav class="u-container navbar" id="resultsPanel" style="display: none;">
  <ul class="nav" id="results"></ul>
</nav>
{{/* |===========| END: SEARCH RESULTS |===========| */}}

{{/* |===========| START: DIRECTORY NAVIGATION |===========| */}}
<nav class="u-container navbar">
  <ul class="nav">
    {{- template "tree_view" .Site.Home -}}
  </ul>
</nav>
{{/* |===========| START: DIRECTORY NAVIGATION |===========| */}}

{{- define "tree_view" -}}
  {{- if .Pages -}}

    {{/* |===========| Iterasi Folder Dulu |===========| */}}
    {{- range .Pages -}}
      {{- if .IsSection -}}
        <li class="nav__item">
          <button class="nav__link nav__link--folder" data-toggle-collapse="{{- .RelPermalink | md5 -}}">
            <i class="bi bi-folder2"></i>{{- .LinkTitle -}}
          </button>
          <ul class="nav" data-collapse="{{- .RelPermalink | md5 -}}">
            {{- template "tree_view" . -}}
          </ul>
        </li>
      {{- end -}}
    {{- end -}}

    {{/* |===========| Iterasi File Setelahnya |===========| */}}
    {{- range .Pages -}}
      {{- if .IsPage -}}
        {{- if .File.BaseFileName -}}
          <li class="nav__item">
            <a class="nav__link nav__link--file" href="{{- .RelPermalink -}}" data-href="{{- .RelPermalink -}}">
              <i class="bi bi-file-earmark-text"></i>{{- .LinkTitle -}}
            </a>
          </li>
        {{- end -}}
      {{- end -}}
    {{- end -}}

  {{- end -}}
{{- end -}}
{{/* =============== END: SIDEBAR LEFT =============== */}}