//==============================================//
//===============// BREAKPOINT //===============//
$breakpoints: (
  xs:   20em,     // 320px
  sm:   36em,     // 576px
  md:   48em,     // 768px
  lg:   62em,     // 992px
  xl:   75em,     // 1200px
  xxl:  87.5em    // 1400px
);

//==============================================//
//==================// FONT //==================//
//  Common Types of Scale Ratios
//  Some common ratios often used in design:           
//  Minor Second (1.067)
//  Major Second (1.125)
//  Minor Third (1.200) 
//  Major Third (1.250) 
//  Perfect Fourth (1.333)
//  Augmented Fourth (1.414)
//  Perfect Fifth (1.500)
//  Golden Ratio (1.618)

@use "sass:math";
@function scale($step) {
  @return math.div(math.div(math.round($font__size--default * pow($scale-ratio, $step) * 100), 100), 14px) * 1rem;
}

$font__family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
$font__family--serif: Cambria, Georgia, 'Times New Roman', Times, serif;
$font__family--mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;

$font__size--default          : 14px;
$scale-ratio                  : 1.067;

$font__size--xs               : scale(-4);
$font__size--2xs              : scale(-3);
$font__size--3xs              : scale(-2);

$font__size--sm               : scale(-1);
$font__size--md               : scale(0);
$font__size--lg               : scale(1);
$font__size--xl               : scale(2);

$font__size--2xl              : scale(3); 
$font__size--3xl              : scale(4);
$font__size--4xl              : scale(5);
$font__size--5xl              : scale(6);
$font__size--6xl              : scale(7);
$font__size--7xl              : scale(8);
$font__size--8xl              : scale(9);
$font__size--9xl              : scale(10);
$font__size--10xl             : scale(11);

$alert-types: (
  "note",
  "abstract",
  "info",
  "todo",
  "tip",
  "success",
  "check",
  "done",
  "question",
  "help",
  "faq",
  "warning",
  "caution",
  "attention",
  "failure",
  "fall",
  "missing",
  "danger",
  "error",
  "bug",
  "example",
  "quote",
  "cite",
);